<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linqijun.qaclient">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/f0"
        android:label="QA"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainPageActivity"
            android:launchMode="singleTask" />

        <service android:name=".NetService" />

        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ChangePhotoActivity" />
        <activity android:name=".AddFriendActivity"></activity>
    </application>

</manifest>